<h2>{{todonts.length}} To Don'ts</h2>

<ul>
{{#each todonts}}
    <li>Description: <a href="/todonts/{{@index}}">{{description}}</a></li> 
    <li>Urgent: {{urgent}}</li>
    </br>
    <form method="POST" action="/todonts/{{@index}}?_method=DELETE">
    <button>DELETE</button>
    </form>
    </br>
{{/each}}
</ul>
</br>

<a href="/todonts/new">Create new To Don't</a>

